:root {
  --background-color: #282c34;
  --primary-color: #016e89;
  --secondary-color: #409ca4;
  --secondary-hover-color: #63f0ff;
}

body {
  margin: 0;
  background: var(--background-color);
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 2vmin);
}
